<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Learn Vue</title>

    <link
      rel="shortcut icon"
      href="./assets/images/logo.png"
      type="image/png"
    />

    <link rel="stylesheet" href="./assets/css/style.css" />
  </head>
  <body>
    <div id="hello-vue">{{message}}</div>

    <br />

    <div id="counter">
      <div>Счётчик: {{counter}}</div>
      <div>
        <span id="plus">+</span>
        <span id="minus">-</span>
      </div>
    </div>

    <br />

    <div id="bind-attribute">
      <span v-bind:title="message">
        Hover your mouse over me for a few seconds to see my dynamically bound
        title!
      </span>
    </div>

    <br />

    <div id="event-handling">
      <p>{{message}}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="two-way-binding">
      <p>{{message}}</p>
      <input v-model="message" />
    </div>

    <br />

    <div id="conditional-rendering">
      <span v-if="seen">Now you see me</span>
      <span v-else>Now you don't</span>
      <button v-on:click="toggle">Toggle</button>
    </div>

    <div id="list-rendering">
      <ol>
        <li v-for="todo in todos">{{ todo.text }}</li>
      </ol>
    </div>

    <br />

    <div id="todo-list-app">
      <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>

    <br />

    <div id="app">{{count}}</div>

    <br />

    <div id="books">
      <p>Have you read any books?</p>
      <p>{{publishedBooksMessage}}</p>
      <p>{{publishedBooksMessage2()}}</p>
    </div>

    <br />

    <style>
      .messageClass {
        color: red;
      }
    </style>
    <div id="classes">
      <p :class="{messageClass: isActive}">Lorem ipsum dolor sit amet.</p>
      <p :class="textObject">Lorem ipsum dolor sit amet.</p>
      <p :style="{ color: activeColor, fontSize: fontSize  }">
        Lorem ipsum dolor sit amet.
      </p>
    </div>

    <br />

    <section id="conditions">
      <p v-if="text === 'A'">A A A</p>
      <p v-else-if="text === 'B'">B B B</p>
      <p v-else="text">Someone else</p>

      <p v-show="isShow">Show me</p>

      <ol>
        <li v-for="item in items">{{ item }}</li>
      </ol>
    </section>

    <br />

    <div id="counter-component">
      <button-counter></button-counter>
      <button-counter></button-counter>
      <button-counter></button-counter>
    </div>

    <script src="./assets/js/vue.global.js"></script>
    <script src="./assets/js/app.js"></script>
  </body>
</html>
